$background-color: #17223b;

html {
  font-size: 62.5%;
}

body {
  font-family: "Space Mono", monospace;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
