.body-container {
  .form-container {
    // background-color: aqua;
    .actual-form {
      // background-color: green;
      display: flex;
      justify-content: center;
      height: 7rem;
      width: 100%;
      input {
        width: 40%;
        outline: none;
        text-align: center;
        font-size: 4rem;
      }
      .actual-input-box {
        // background-color: black;
        all: unset;
        font-size: 4rem;
        text-align: center;
      }
    }
  }
  .cardlist-container {
    display: grid;
    margin-top: 5rem;
    padding: 3rem;
    row-gap: 10rem;
    column-gap: 3rem;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    // background-color: black;
  }
}
