.body-container {
  .form-container {
    background-color: aqua;
  }
  .cardlist-container {
    display: grid;
    margin-top: 5rem;
    padding: 3rem;
    row-gap: 10rem;
    column-gap: 3rem;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: black;
  }
}
